p {
   font-family: 'MonterchiBook';
   font-weight: normal;
   font-style: normal;
}



.sidebar {
    background-image: url(images/james-armes-waterfall-unsplash.jpg);
    background-size: cover;
    height: 600px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.logo {
    width: auto;
    height: 4.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.logo-container {
    display: flex;
    background-color: rgb(32,32,32,0.8);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    position: relative;
    top: 5rem;
}

.logo-container h1 {
    color: white;
    font-family: 'MonterchiBook';
    font-weight: normal;
    font-style: normal;
    font-size: 3rem;
    margin: 0;
    margin-top: 0.3em;
}

.sidebar-credit {
    color: white;
    position: relative;
    top: 75%;
}


