p, h2 {
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: normal;
   font-style: normal;
}

body {
    display: flex;
    justify-content: center;
}

/* Content stylings*/
.content {
    display: flex;
    justify-content: center;
    height: auto;
    max-width: 1000px;
}

/* Sidebar stylings*/

.sidebar {
    background-image: url(images/james-armes-waterfall-unsplash.jpg);
    background-size: cover;
    height: 600px;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.logo {
    width: auto;
    height: 4.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.logo-container {
    display: flex;
    background-color: rgb(32,32,32,0.8);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: auto;
    margin-top: 8rem;
}

.logo-container h1 {
    color: white;
    font-family: 'MonterchiBook';
    font-weight: normal;
    font-style: normal;
    font-size: 3rem;
    margin: 0;
    margin-top: 0.3em;
}

.sidebar-credit {
    color: white;
    font-size: 0.5em;
}

/*Sign up container styles*/

.signup-container {
    display: flex;
    width:auto;
    flex-direction: column;
}

.greeting-container {
    background-color: whitesmoke;
    padding: 2rem;
    flex: 1;
    display: flex;
    align-items: flex-end;
}

.greeting-text {
    font-size: 1rem;
    font-weight: 900;
}

.form-container {
    background-color: white;
    box-shadow: 0 4px 2px -2px lightgray;
    flex: 1;
    position: relative;
}

.btn-container {
    background-color: whitesmoke;
    flex: 1;
}

/* Form styling */

.signup {
    display: flex;
    flex-wrap: wrap;
}