p {
   font-family: 'MonterchiBook';
   font-weight: normal;
   font-style: normal;
}

.sidebar {
    background-image: url(images/james-armes-waterfall-unsplash.jpg);
    background-size: cover;
    height: 600px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: auto;
    height: 20%;
}

.logo-container {
    display: flex;
    background-color: rgb(32,32,32,0.8);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}

.logo-container h1 {
    color: white;
    font-family: 'MonterchiBook';
    font-weight: normal;
    font-style: normal;
    
}

.sidebar-credit {
    color: white;
    
}


